<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title><%= title %></title>
</head>
<body>
    <h1>hey, this is view/home.ejs</h1>
    <h1 style="color: whitesmoke;">rendered from Ejs Views!</h1>
    <div id="list-contact">
        <ul>         

            <%for(let i of contact_list){%>
                <div class="li-del-merge">

                    <div id= "row-contact">
                        <li>
                            <div><%= i.name%></div>
                            <div><%= i.phone%></div>
                        </li>
                    </div>
                    <div id="delete-contact">
                        <a href="/delete-contact/?id=<%=i._id%>&phone=<%=i.phone%>&name=<%=i.name%>">
                            del-contact
                        </a>
                    </div>
                </div> 
            <%}%>            
            
        </ul>
    </div>

    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter Name">
        <input type="text" name="phone" id="phone">
        <button type="submit">Add Contact</button>
    </form>
    <script type="text/javascript" src="/js/home.js"> </script>
</body>
</html>